#buscadorContainer{

}

#logo_chef{
    width: 200px;
    height: 184px;
}

#logo_chef #sombra_chef{
    float:left;
    position: relative;
    bottom: 30px;
    left: -20px;
    z-index: -1;
    max-width: 999px;
}

#logo_chef #cuerpo_chef{
    float:left;
}

#top_buscador_center{
    margin-top: 50px;
}

#top_buscador_center span{
    font-size: 17px;
    color: #373435;
    font-weight: bold;        
}
#estoy_en{
    padding-left: 10px;    
}

#top_buscador{
    height: 190px;
}

#top_buscador_center input{
    width: 360px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.046875) -3px 3px 0px 0px inset;
    -moz-box-shadow:rgba(0, 0, 0, 0.046875) -3px 3px 0px 0px inset;
    font-size: 17px;
    color: #848688;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    letter-spacing: 1px;
}
#top_buscador_center input:focus{    
    background-color: #FFFFFF; 
    color: #333;   
}

#bottom_center_buscador{
    margin: 0 auto;
    text-align: center;

}

#top_buscador_center span.texto_parentesis{
    color:gray;
    font-size:12px;
}

#lo_nuevo{
    text-align: center;
    margin-left: -35px;
    margin-top: 35px;
}
#lo_nuevo img, #lo_nuevo span, #lo_nuevo div{
    text-align: center;
}

#lo_nuevo span{
    font-weight: bold;
    color:#ED3237;
    font-size: 14.5px;
}

#lo_nuevo #lo_nuevo_texto{
    text-align: center;
    margin-top: -15px;
}

#lo_nuevo #lo_nuevo_texto .span_big{
    color:#ED3237;
    font-size: 23.5px;
    text-align: center;
    font-weight: bold;
    line-height: 6px;
}


#sliderContainer{
    position: relative;
    overflow: hidden;
    width: 960px;
    height:167px;
    background-image: url(../imagenes/Home/img_BarraTipoComida_960x123.png);
    background-repeat: no-repeat; 
    background-position: 5px 15px; 
}
.bx-prev {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 41px;
    height: 147px;
    text-indent: -999999px;
    background: url(../imagenes/Home/btn_TipoComidaIzq_41x147.png);
}
.bx-next {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 41px;
    height: 147px;
    text-indent: -999999px;
    background: url(../imagenes/Home/btn_TipoComidaDer_41x147.png);
}

#slider1{
    width: 960px; height:150px;
}

.bx-window{
    margin-left: 3px;
}

.imagen_slider{
    text-align: center;
    list-style: none; 
    width: 110px;
}

.imagen_slider .imagen_slider_div{
    text-align: center;
    padding-top: 25px;
}

#bottom_buscador_container{
    margin-top: -30px;
}

#bottom_buscador{
    margin: 0 auto;
    width: 450px;
    text-align: center;
    overflow: hidden;
}
#bottom_buscador .preferencia{
    width: 49%;
    overflow: hidden;
}
#bottom_buscador span{
    font-size: 17px;
    color: #373435;
    font-weight: bold;    
}

.preferencia_texto{
    font-size:11px; 
    width:50px; 
    text-align: center;
    color: #373435;
    font-weight: bold;    
    padding-right: 10px;
}

.checkbox_antojo_container{
    cursor: pointer;
}

.checkbox_antojo{
    background-image: url('../imagenes/Home/SelectTipoComida_13x12.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 13px;
    height: 12px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.checkbox_antojo_clear{
    background-image: url('../imagenes/Home/SelectTipoComidaVacio_13x12.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 13px;
    height: 12px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.checkbox_preferencia{
    background-image: url('../imagenes/Home/SelectEntrega_32x29.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.checkbox_preferencia_clear{
    background-image: url('../imagenes/Home/SelectEntregaVacio_32x29.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

#sliderTextContainer{
    text-align: center;
    position: relative;
    top:-50px;
    height: 20px;
}
#sliderTextContainer span{
    color: #373435;
    font-weight: bold;
    font-size: 10px;
}

.blogEntry{
    padding-top: 20px;
}

.tituloBlog a{
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
}

.contenedorLikes{
    border-style:groove;
    border-width:0px;
    -webkit-box-shadow:rgba(112, 107, 99, 0.611765) -1px 0px 41px -3px inset;
    -moz-box-shadow:rgba(112, 107, 99, 0.611765) -1px 0px 41px -3px inset;
    box-shadow:rgba(112, 107, 99, 0.611765) -1px 0px 41px -3px inset;
    padding:15px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.likeSoloSi{
    color: #ED3237;
    font-weight: bolder;
    font-size: 21px;
    margin-top: 57px; 
}


.comoSeCome{
    color: #ED3237;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-top: -15px;
}

.comoSeComeTexto{
    font-weight: bold;
    margin-top: 15px;
}