li{list-style:none;}
html{ height: 100%;}
body{   
    font-family: sans-serif, arial, verdana;    
    font-size: 12px;  
    background-color: #FFFFFF; 
    margin:0px; 
    padding:0px; 
    border:0px none;  
    overflow-x: hidden;
}

#contenedor{
    position: relative;
    width: 960px;
    margin: 0px auto;
    background: #FFFFFF;
    z-index: 1;
    min-height: 500px;
}

#contenidoHeader{
    background: #FFFFFF url('../imagenes/Home/Fondo_Header_1120x120.png') repeat-x;
    padding-left: 18px;
    padding-top: 20px;
    height: 120px;
    padding-bottom: 30px;
}

#headerLogo{
    margin-right: 35px;
}

#headerTitles{
    padding-top: 10px;
    padding-right: 20px;
}

#header_black_title{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

#header_red_title{
    font-size: 28px;
    font-weight: bold;
    color: #ff1010;
}

#contenedorLogin{
    padding-right: 10px;
}

#formaLogin{

}

#entrarConFacebook{
    padding-top: 5px;
}
#entrarConFacebook span{
    float: left;
    padding-top: 5px;
}
#entrarConFacebook img{
    padding-top: 3px;
    padding-left: 10px;
}

#menuHeader{
    float: left;
    position: absolute;
    top: 110px;
    left: 250px;
}

#menuHeader img{
    padding-left: 20px;
}

.left{ 
    float:left; 
    display: block;
}
.right{ 
    float: right;   
    display: block; 
}
.center{    
    margin: 0 auto; 
    display: block; 
}
.centerText{    
    text-align: center;
}

ul{
    padding: 0px;
}

a{  
    text-decoration: none;  
    color: #f0201e; 
    font-weight: bold;  
}
a:visited{  
    text-decoration: none; 
    text-transform: none;   
    font-size: inherit; }
a:hover{   
    cursor: pointer;
    text-decoration: underline;
}
img{    
    border: none;  
    padding: 0px 0px 0px 0px;  
}
h1{ margin:0;   padding:0px 0px 15px 0px;  color:#dc5f21;  font-weight:100;    font-size:33px; padding-top:5px;    }
h2{ margin:0;   padding:0px 0px 12px 0px;;  color:#6ab7a5;  font-weight:100;    font-size:25px; padding-top:5px;    }
h3{ margin:0;   padding:0px 0px  9px 0px;;  color:#52b7d2;  font-weight:100;    font-size:20px; padding-top:5px;    }
h4{ margin:0;   padding:0px 0px  6px 0px;;  color:#dc5f21;  font-weight:100;    font-size:18px; padding-top:5px;    }
h5{ margin:0;   padding:0px 0px  3px 0px;;  color:#30377a;  font-weight:100;    font-size:14px; padding-top:5px;    }
h6{ margin:0;   padding:0px 0px  0px 0px;;  color:#30377a;  font-weight:100;    font-size:10px; padding-top:5px;    }

/* Transiciones en .3 segundos*/
.ease3 {    -webkit-transition: all .3s ease;   -moz-transition: all .3s ease;  -o-transition: all .3s ease;    -ms-transition: all .3s ease;   transition: all .3s ease;   }
