#menu{
    margin-left: 10px;
    -webkit-box-shadow:rgba(59, 59, 59, 0.701961) 0px 0px 70px -12px;
    -moz-box-shadow:rgba(59, 59, 59, 0.701961) 0px 0px 70px -12px;
    box-shadow: rgba(59, 59, 59, 0.701961) 0px 0px 70px -12px;
}

.separadorLogo{
    height: 150px;
}

.platillo{
    overflow: hidden;
}

.platilloNon{
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}

.platilloPar{
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}

.popupPlatillo{
    cursor: pointer;
    overflow: hidden;
}

.popupPlatillo:hover{
    background: #ffd525;
}

.popupPlatilloNoDisponible{
    cursor: pointer;
}

.popupPlatilloNoDisponible:hover{
    background: rgb(143,143,143);
}

.filaPar{
    background: #e1eef9;
    height: 37px;
}

.filaNon{
    background: #FFFFFF;
    height: 37px;
}

#opinionesContenido{
    display:none;
    text-align: center;
}

#informacionContenido{
    display:none;
}

.menuTexto{
    font-size:13px;
    font-weight:bold;
    line-height:35px;
}

.menuTextoChico{
    font-size:11px;
    font-weight:bold;
    line-height:35px;
}

.tooltipClass{
    margin: 0px;
    padding: 0px;
    min-width: 200px;
    max-width: 300px;
    overflow: hidden;
}

.tooltipNombre{
    
}

.tooltipPrecio{
    float: right;
}

.tooltipHeader{
    background: #ffd525;
    background-image:-webkit-linear-gradient(0,rgb(255,212,38) 60%,rgb(230,155,94) 99%);
    background-image:-moz-linear-gradient(0,rgb(255,212,38) 60%,rgb(230,155,94) 99%);
    background-image:-o-linear-gradient(0,rgb(255,212,38) 60%,rgb(230,155,94) 99%);
    background-image:-ms-linear-gradient(0,rgb(255,212,38) 60%,rgb(230,155,94) 99%);

    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    
    overflow: hidden;
}

.tooltipHeaderNoDisponible{
    background: gray;

    background-image:-webkit-linear-gradient(0,rgb(220,220,220) 0%,rgb(120,120,120) 99%);
    background-image:-moz-linear-gradient(0,rgb(220,220,220) 0%,rgb(120,120,120) 99%);
    background-image:-o-linear-gradient(0,rgb(220,220,220) 0%,rgb(120,120,120) 99%);
    background-image:-ms-linear-gradient(0,rgb(220,220,220) 0%,rgb(120,120,120) 99%);

    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

.tooltipText{
    padding: 10px;
}
.tooltipTextNoDisplonible{
    padding: 10px;
}

.detallesCadroAmarillo{
    background: #ffd525;
    padding-left: 5px;
    padding-top:5px;
}

.detallesNombre{
    font-weight: bolder;
    font-size: 20px;
}

.detallesPrecio{
    font-weight: bolder;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.detallesDescripcion{
    font-weight: bolder;
    font-size: 15px;
}

.detallesGrupo{
    color: #C00;
    font-size: 15px;
    font-weight: bolder;
    padding-top: 12px;
}

.ingredienteNombre{
    font-weight: bold;
    font-size: 14px;
}

.ingrediente input{
    margin: 0px;
    vertical-align: inherit;
    margin-right: 5px;
}

.especificaciones{
    font-size: 15px;
    padding-top: 14px;
    padding-bottom: 10px;
    font-weight: bold;
}

.especificacionesTexto{
    padding-bottom: 15px;
}

.cantidad span{
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
}

.cantidad input{

}

#agregarpedido{
    cursor: pointer;
}

.fb_ltr{
    /*height:750px !important;*/
}

.textoDireccion{
    margin: 3px;
    padding: 0px;
    font-weight: bold;
}

.telefono{
    color:#ED3237;

}

.textoEntrega{
    color:#ED3237;
    font-weight: bold;
}

.textoEntregaGreen{
    color:#009900;
    font-weight: bold;
}

.textoEntregaNumero{
    font-weight: bold;
}

.rowMetodoEntrega{
    padding-top: 20px;
}

.recomiendaRestaurante{
    padding-bottom: 15px;
}