form div{position:relative;} 

select.selectBlanco{
    position:relative;
    z-index:10;
    width:190px !important;
    height:40px !important;
    line-height:26px;
    margin: 0px;
}

span.selectBlanco{
    position:absolute;
    bottom:0;
    float:left;
    left:0;
    width:190px;
    height:40px;
    text-indent:10px;
    background:url(../imagenes/resultadosBusqueda/selectBox_blanco_190x40.png) no-repeat 0 0;
    cursor:default;
    z-index:1;
    color: #b8b7b8;
    font-size: 14px;
    line-height:41px;
}

input.textoBlanco{
    font-size: 17px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    letter-spacing: 1px;
    height: 30px;
    width: 260px;
    text-indent:10px;
    color: #b8b7b8;

    -webkit-box-shadow:rgba(0, 0, 0, 0.156863) -3px 0px 10px 0px inset;
    -moz-box-shadow:rgba(0, 0, 0, 0.156863) -3px 0px 10px 0px inset;
    box-shadow:rgba(0, 0, 0, 0.156863) -3px 0px 10px 0px inset;
}

select.selectAmarillo{
    position:relative;
    z-index:10;
    width:220px !important;
    height:28px !important;
    line-height:26px;
}

span.selectAmarillo{
    position:absolute;
    bottom:0;
    float:left;
    left:0;
    width:220px;
    height:28px;
    text-indent:10px;
    background:url(../imagenes/resultadosBusqueda/selectBox_amarillo_152x28.png) no-repeat 0 0;
    cursor:default;
    z-index:1;
    color: #373435;
    font-size: 14px;
    font-weight: bold;
    line-height:28px;
}

#buscadorContainer{
    overflow: hidden;
    padding-left: 35px;
    margin-top:40px;
}

.formElement{
    float:left;
    padding-right: 20px;
}

#numeroRestauranteContainer{
    font-size: 20px;
    padding-left: 50px;
    padding-top: 20px;
}

#numeroRestauranteContainer .redText{
    color:#ED3237;
}

#numeroRestauranteContainer .coloniaText{
    color:#373435;
}

#filtrosContainer{
    padding-top: 15px;
    padding-left: 20px;
}

#filtroContainerTexto, #ordenaContainerTexto{
    color:#373435;
    font-size: 11px;
    font-weight: bold;
    line-height: 2;
}

#ordenaContainer{
    margin-right: 160px;
}


#separadorContainer img{
    margin-left:60px;
    margin-top: 20px;
}

.restaurante{
    margin: 0 auto;
    width: 850px;
    padding-top: 15px;
}
.restauranteAbierto .restauranteHeader{
    width: 850px;
    height: 56px;
    background:url(../imagenes/resultadosBusqueda/Header.png) no-repeat 0 0;
}
.restauranteAbierto .restauranteHeader .titulo{
    color:#ffd525;
    font-size:20px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 10px;
}
.restauranteAbierto .restauranteHeader .tiposComida{
    color:#ffffff;
    font-size:12px;
    margin-left: 20px;
}

.restauranteAbiertoHover .restauranteHeader{
    width: 850px;
    height: 56px;
    background:url(../imagenes/resultadosBusqueda/HeaderHover.png) no-repeat 0 0;
}
.restauranteAbiertoHover .restauranteHeader .titulo{
    color:#ED3237;
    font-size:20px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 10px;
}
.restauranteAbiertoHover .restauranteHeader .tiposComida{
    color:#373435;
    font-size:12px;
    margin-left: 20px;
}

.restauranteCerrado .restauranteHeader{
    width: 850px;
    height: 56px;
    background:url(../imagenes/resultadosBusqueda/HeaderCerrado.png) no-repeat 0 0;
}
.restauranteCerrado .restauranteHeader .titulo{
    color:#ffd525;
    font-size:20px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 10px;
}
.restauranteCerrado .restauranteHeader .tiposComida{
    color:#ffffff;
    font-size:12px;
    margin-left: 20px;
}

.restauranteCerradoHover .restauranteHeader{
    width: 850px;
    height: 56px;
    background:url(../imagenes/resultadosBusqueda/HeaderCerradoHover.png) no-repeat 0 0;
}
.restauranteCerradoHover .restauranteHeader .titulo{
    color:#ED3237;
    font-size:20px;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 10px;
}
.restauranteCerradoHover .restauranteHeader .tiposComida{
    color:black;
    font-size:12px;
    margin-left: 20px;
}

.restauranteBody{
    -webkit-border-radius:0px,0px,6px,6px;
    -moz-border-radius:0px,0px,6px,6px;
    border-radius:0px,0px,6px,6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    border-width:0px;
    border-style:none solid solid;
    border-color:rgb(209, 209, 209);
    -webkit-box-shadow:rgb(209, 209, 209) 0px 0px 14px 0px inset;
    -moz-box-shadow:rgb(209, 209, 209) 0px 0px 14px 0px inset;
    box-shadow:rgb(209, 209, 209) 0px 0px 14px 0px inset;
}

.logoRestaurante{

}

.logoRestaurante img{
    padding-top: 10px;
}
.separadorLogo{
    width: 6px;
    height: 110px;
    background:url(../imagenes/resultadosBusqueda/separadorLogotipo_6x1.png) repeat-y 0 0;
}
.contenidoRestaurante{
    overflow: hidden;
}
.realizarPedido{    
    margin-top: 30px;
}

.datosRestaurante{
    margin-top: 10px;
}

.horario span{
    position: relative;
    top: 2px;
    color: #373435;
    font-weight: bold;
}

.datos span{
    color: #373435;
    font-weight: bold;
}
.datos span.datosRed{
    color: #ED3237;
}
.datos span.datosGreen{    
    color: #009900;
}

.realizarPedido img{
    float:right !important;
}

.metodoEntrega{
    margin-top: 25px;
    margin-left: 25px;
}