form div{position:relative;} 

select.selectBlanco{
    position:relative;
    z-index:10;
    width:190px !important;
    height:40px !important;
    line-height:26px;
}

span.selectBlanco{
    position:absolute;
    bottom:0;
    float:left;
    left:0;
    width:190px;
    height:40px;
    text-indent:10px;
    background:url(../imagenes/resultadosBusqueda/selectBox_blanco_190x40.png) no-repeat 0 0;
    cursor:default;
    z-index:1;
    color: #b8b7b8;
    font-size: 14px;
    line-height:41px;
}

input.textoBlanco{
    padding-top: 0px;
    height: 30px;
    width: 260px;
    margin-top: 3px;
    text-indent:10px;
    color: #b8b7b8;
    font-size: 14px;
}

#buscadorContainer{
    overflow: hidden;
    padding-top: 60px;
    padding-left: 35px;
}

.formElement{
    float:left;
    padding-right: 20px;
}